<script src="./res/parser.js"></script>

<script>
  async function load() {
    return (await fetch('./res/tv_channels_Liza_plus.m3u')).text()
  }

  async function parseChannels() {
    return Parser.parse(await load()).items
  }

  function getChannelNameAndQuality(name) {
    const split = name.split(/\s+/)
    const quality = split.pop()
    if (quality === 'sd' || quality === 'hd' || quality === 'fhd')
      return [ split.map(x => x.trim()).join(' '), quality ]

    return [ name, '' ]
  }

  async function main() {
    const channels = {}
    const parse = await parseChannels()
    for (let channelData of parse) {

      if (channelData.name.endsWith('24H')) {
        continue
      }

      const [ name, quality ] = getChannelNameAndQuality(channelData.name.toLowerCase())
      const channel = channels[name] || { streams: [] }

      channel.streams.push({
        url: channelData.url,
        title: channelData.name,
        name: 'NIGHT CITY'
      })

      channels[name] = channel
    }

    console.log(JSON.stringify(channels))
  }

  window.addEventListener('load', main)
</script>